.about {
   margin-bottom: 17rem;
   &__btns {
      background: #E2E9E9;
      border-radius: 3rem;
      height: 8.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15.7rem;
   }
   &__btn {
      line-height: 150%;
      transition: ease 0.3s;
      &:not(:last-child) {
         margin-right: 6.35rem;
      }
      &.active {
         color: $white;
         padding: 1.2rem 9rem 0.9rem 9rem;
         background-color: $green;
         border-radius: 3rem;
      }
   }
   &__items {
      position: relative;
      &::after {
         position: absolute;
         content: '';
         left: 54.9%;
         transform: translateX(-50%);
         top: 0;
         width: 1.3rem;
         height: 100%;
         background: linear-gradient(90deg, rgba(255, 255, 255, 0) 1%, #FFFFFF 13.17%, #FFFFFF 75.71%, rgba(255, 255, 255, 0) 107.27%);
         border-radius: 2.3rem;
      }
   }
   &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:last-child) {
         margin-bottom: 5.8rem;
      }
      &-content {
         width: 49.7%;
         &-title {
            margin-bottom: 3rem;
            position: relative; 
            z-index: 2;
            &::after {
               position: absolute;
               content: '';
               top: 50%;
               transform: translateY(-50%);
               right: -9.9rem;
               width: 3.4rem;
               height: 3.4rem;
               background: $white;
               border: 1.2rem solid #7AC361;
               border-radius: 50%;
            }
         }
         &-text {
            &>p {
               line-height: 150%;
               &:not(:last-child) {
                  margin-bottom: 2.8rem;
               }
            }
         }
      }
      &.active {
         & .about__item-content-title  {
            &::after {
               width: 8.1rem;
               height: 8.1rem;
               border: none;
               background-image: url(../img/icon/about-map.svg);
               background-repeat: no-repeat;
               background-size: 3.4rem;
               background-position: center;
               background-color: $green;
               right: -12.2rem;
            }
         }
      }
      &-img {
         width: 40.2%;
         height: 41.1rem;
         border-radius: 6rem;
         & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6rem;
         }
      }
      &-imgBig {
         width: 49.7%;
         height: 55.4rem;
         border-radius: 6rem;
         & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6rem;
         }
      }
      &-video {
         width: 49.7%;
         height: 55.4rem;
         border-radius: 6rem;
         position: relative;
         background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
         & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6rem;
         }
         &-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 8.5rem;
            height: 8.5rem;
            background-color: $white;
            border-radius: 50%;
            border: 1.6rem solid transparent;
            &::after {
               position: absolute;
               content: '';
               left: 50%;
               top: 50%;
               transform: translate(-50%, -50%);
               width: 11.7rem;
               height: 11.7rem;
               border-radius: 50%;
               border: .15rem solid $white;
               background-color: transparent;
            }
            &::before {
               position: absolute;
               content: '';
               left: 56%;
               top: 50%;
               transform: translate(-50%, -50%);
               width: 2.21rem;
               height: 2.21rem;
               background-repeat: no-repeat;
               background-position: center;
               background-size: contain;
               background-image: url(../img/icon/video.svg);
            }
         }
      }
      &:first-child {
         & .about__item-content-title {
            &::after {
               content: none;
            }
         }
      }
      &:nth-child(even) {
         flex-direction: row-reverse;
         & .about__item-content {
            width: 40.3%;
            padding-right: 0.5rem;
            &-title {
               &::after {
                  left: -9.5rem;
                  right: unset;
               }
            }
         }
         &.active {
            & .about__item-content-title  {
               &::after {
                  left: -11.6rem;
               }
            }
         }
      }
   }
}