.add {
   width: 97%;
   margin: 0 auto;
   height: 7.1rem;
   background: #7AC361;
   border-radius: 100rem;
   font-weight: 700;
   line-height: 150%;
   color: $white;
   display: none;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 1000000000;
   &.active {
      display: flex !important;
   }
   &__img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 3rem;
      width: 1.3rem;
      height: 1.3rem;
      cursor: pointer;
      & img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
}