.header {
  &__online {
    position: relative;
    transition: transform .4s ease;
    user-select: none;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      transform: translateY(-5px);
      opacity: 0;
      border-radius: inherit;
      box-shadow: 0 1.5rem 1.5rem -1rem rgba(34, 60, 80, 0.3);
      transition: opacity .4s ease, transform .4s ease;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: inherit;
    }

    &:hover {
      transform: translateY(-0.2rem);

      &:before {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &:active {
      transform: translateY(0);

      &:before {
        opacity: 0;
        transform: translateY(0);
        transition: opacity .2s ease, transform .2s ease;
      }
    }
  }

  &__menu a {
    &:hover {
      filter: invert(.4);
    }
  }

  &__btns-btn {
    position: relative;
    border: none;
    transition: transform .4s ease;
    user-select: none;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      transform: translateY(-5px);
      opacity: 0;
      border-radius: inherit;
      box-shadow: 0 1.5rem 1.5rem -1rem rgba(34, 60, 80, 0.3);
      transition: opacity .4s ease, transform .4s ease;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      border: 1px solid white;
      border-radius: inherit;
      background-color: inherit;
    }

    &:hover {
      transform: translateY(-0.2rem);

      &:before {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &:active {
      transform: translateY(0);

      &:before {
        opacity: 0;
        transform: translateY(0);
        transition: opacity .2s ease, transform .2s ease;
      }
    }
  }

  &__contacts-phone {
    &:hover {
      filter: invert(.3);
    }
    // Подчеркивание

    //position: relative;
    //
    //&:before {
    //  content: '';
    //  position: absolute;
    //  left: 0;
    //  bottom: 0.3rem;
    //  width: 100%;
    //  height: 1px;
    //  background-color: #1D1F26;
    //  transform: scaleX(0);
    //  transform-origin: right;
    //  transition: transform .3s ease;
    //}
    //
    //&:hover {
    //  &:before {
    //    transform: scaleX(1);
    //    transform-origin: left;
    //  }
    //}
  }
}

.baner {
  &__content-btn {
    position: relative;
    transition: transform .4s ease;
    user-select: none;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      transform: translateY(-5px);
      opacity: 0;
      border-radius: inherit;
      box-shadow: 0 1.5rem 1.5rem -1rem rgba(34, 60, 80, 0.3);
      transition: opacity .4s ease, transform .4s ease;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: inherit;
    }

    &:hover {
      transform: translateY(-0.2rem);

      &:before {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &:active {
      transform: translateY(0);

      &:before {
        opacity: 0;
        transform: translateY(0);
        transition: opacity .2s ease, transform .2s ease;
      }
    }
  }

  &__bottom-items a {
    &:hover {
      font-weight: 700;
    }
  }
}

.btn-next {
  transition: transform .3s ease;

  &:hover {
    transform: translateX(0.6rem);
  }
}

.btn-prev {
  transition: transform .3s ease;

  &:hover {
    transform: translateX(-0.6rem);
  }
}

.swiper-pagination-bullet {
  transition: margin .6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.link {
  &:after {
    transition: transform .3s ease;
  }

  &:hover {
    &:after {
      transform: translate(1rem, -50%);
    }
  }
}

.block {
  // Parallax

  //position: relative;
  //overflow: hidden;
  //
  //&:before {
  //  content: '';
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  width: 100%;
  //  height: 1px;
  //  box-shadow: 0 1rem 10rem 5rem rgba(0,0,0,.4);
  //}
  //
  //&:after {
  //  content: '';
  //  position: absolute;
  //  left: 0;
  //  bottom: 0;
  //  width: 100%;
  //  height: 1px;
  //  box-shadow: 0 -1rem 10rem 5rem rgba(0,0,0,.4);
  //}
}

.forms {
  &__img2 {
    position: relative;

    > img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 1s ease, opacity 1s ease;

      &:last-child {
        opacity: 0;
      }
    }

    &.active {
      > img {
        &:not(:first-child) {
          opacity: 1;
          transform: translateY(-3rem);
        }
      }
    }
  }
}

.btn {
  position: relative;
  transition: transform .4s ease;
  user-select: none;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translateY(-5px);
    opacity: 0;
    border-radius: inherit;
    box-shadow: 0 1.5rem 1.5rem -1rem rgba(34, 60, 80, 0.3);
    transition: opacity .4s ease, transform .4s ease;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: inherit;
  }

  &:hover {
    transform: translateY(-0.2rem);

    &:before {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &:active {
    transform: translateY(0);

    &:before {
      opacity: 0;
      transform: translateY(0);
      transition: opacity .2s ease, transform .2s ease;
    }
  }
}

.projects {
  &__header-center-btn-icon {
    transition: background-color .3s ease;

    &:hover {
      background-color: #F3D949;
    }
  }

  &__slide {
    &:hover {
      .projects__slide-img > img {
        transform: scale(1.1);
      }
    }
  }

  &__slide-img {
    overflow: hidden;

    > img {
      transition: transform .5s ease;
    }
  }
}

.certificates {
  &__title {
    margin-bottom: 0;
  }

  &__swiper {
    padding-top: 5.5rem;
  }

  &__slide {
    .certificates__slide-img {
      transition: transform .5s ease;
    }

    &:hover {
      .certificates__slide-img {
        transform: scale(1.05) translateY(-2rem);
      }
    }
  }
}

@keyframes steps-img-translate {
  from {
    transform: translate(0, 0);
  }

  17% {
    transform: translate(1rem, 0);
  }

  33% {
    transform: translate(1.5rem, 1.5rem);
  }

  50% {
    transform: translate(0, 1.5rem);
  }

  67% {
    transform: translate(-1.5rem, 1.5rem);
  }

  83% {
    transform: translate(-1.5rem, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes steps-img-rotate {
  from {
    transform: rotate(0);
  }
  33% {
    transform: rotate(-2deg);
  }
  66% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(0);
  }
}

.steps {
  &__slide-img {
    animation: 15s linear infinite steps-img-translate;

    > img {
      animation: 9s linear infinite steps-img-rotate;
    }
  }
}

@keyframes infinite-translate {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.pride {
  &__wrap {
    position: relative;
    height: 46rem;
  }

  &__items {
    position: absolute;
    left: 0;
    top: 0;
    height: 22rem;
    justify-content: normal;
    animation: 70s linear infinite infinite-translate;

    &:first-child {
      left: -14.4rem;
      animation: 80.08s linear infinite infinite-translate;
    }

    &:last-child {
      top: 24rem;
    }
  }

  &__item {
    flex: none;

    > img {
      filter: grayscale(1);
      transition: filter .3s ease;
    }

    &:hover {
      > img {
        filter: grayscale(0);
      }
    }
  }
}
