@mixin btn-hover {
  position: relative;
  transition: transform .4s ease;
  user-select: none;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translateY(-5px);
    opacity: 0;
    border-radius: inherit;
    box-shadow: 0 1.5rem 1.5rem -1rem rgba(34, 60, 80, 0.3);
    transition: opacity .4s ease, transform .4s ease;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: inherit;
  }

  &:hover {
    transform: translateY(-0.2rem);

    &:before {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &:active {
    transform: translateY(0);

    &:before {
      opacity: 0;
      transform: translateY(0);
      transition: opacity .2s ease, transform .2s ease;
    }
  }
}

.svg-test {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 7rem;
}

.header {
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
  }

  &__logo-anim {
    height: 200%;
    transform: scale(1.9) !important;
    mix-blend-mode: darken;
  }

  &__online {
    @include btn-hover;
  }

  &__menu a {
    &:hover {
      filter: invert(.4);
    }
  }

  &__btns-btn {
    @include btn-hover;
    border: none;

    &:after {
      border: 1px solid white;
    }
  }

  &__contacts-phone {
    &:hover {
      filter: invert(.3);
    }
  }
}

.baner {
  &__content-btn {
    @include btn-hover;
  }

  &__bottom-items a {
    &:hover {
      font-weight: 700;
    }
  }
}

.btn-next {
  transition: transform .3s ease;

  &:hover {
    transform: translateX(0.6rem);
  }
}

.btn-prev {
  transition: transform .3s ease;

  &:hover {
    transform: translateX(-0.6rem);
  }
}

.swiper-pagination-bullet {
  transition: margin .6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.link {
  &:after {
    transition: transform .3s ease;
  }

  &:hover {
    &:after {
      transform: translate(1rem, -50%);
    }
  }
}

.forms {
  &__img2 {
    position: relative;

    > img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 1s ease, opacity 1s ease;

      &:last-child {
        opacity: 0;
      }
    }

    &.active {
      > img {
        &:not(:first-child) {
          opacity: 1;
          transform: translateY(-3rem);
        }
      }
    }
  }
}

.btn {
  @include btn-hover;
}

.projects {
  &__header-center-btn-icon {
    transition: background-color .3s ease;

    &:hover {
      background-color: #F3D949;
    }
  }

  &__slide {
    &:hover {
      .projects__slide-img > img {
        transform: scale(1.1);
      }
    }
  }

  &__slide-img {
    overflow: hidden;

    > img {
      transition: transform .5s ease;
    }
  }
}

.certificates {
  &__title {
    margin-bottom: 0;
  }

  &__swiper {
    padding-top: 5.5rem;
  }

  &__slide {
    .certificates__slide-img {
      transition: transform .5s ease;
    }

    &:hover {
      .certificates__slide-img {
        transform: scale(1.05) translateY(-2rem);
      }
    }
  }
}

@keyframes steps-img-translate {
  from {
    transform: translateY(-2rem);
  }

  to {
    transform: translateY(2rem);
  }
}

@keyframes steps-img-shadow {
  from {
    transform: translateX(-50%) scale(.8);
    opacity: .6;
  }

  to {
    transform: translateX(-50%) scale(1.3);
    opacity: .9;
  }
}

.steps {
  &__slide-img {
    position: relative;

    > img {
      animation: 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite steps-img-translate alternate;
    }

    &:before {
      content: '';
      position: absolute;
      left: 45%;
      top: 65%;
      z-index: -1;
      width: 20rem;
      height: 10rem;
      border-radius: 100%;
      transform: translateX(-50%);
      background-color: black;
      filter: blur(2rem);
      animation: 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite steps-img-shadow alternate;
    }
  }

  &__info-btn {
    &:after {
      transition: box-shadow .4s ease;
    }
    &:hover {
      &:after {
        box-shadow: 0 1.5rem 1.5rem 0rem rgba(34, 60, 80, 0.3);
      }
    }
  }
}

@keyframes infinite-translate {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.pride {
  &__wrap {
    position: relative;
    height: 46rem;
  }

  // Old animation
  //&__items {
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  height: 22rem;
  //  justify-content: normal;
  //  animation: 70s linear infinite infinite-translate;
  //
  //  &:first-child {
  //    left: -14.4rem;
  //    animation: 80.25s linear infinite infinite-translate;
  //  }
  //
  //  &:last-child {
  //    top: 24rem;
  //  }
  //}

  &__items {
    .swiper-wrapper {
      transition-timing-function: linear;
    }

    &:nth-child(even) {
      position: relative;
      left: -14.4rem;
    }
  }

  &__item {
    > img {
      filter: grayscale(1);
      opacity: .5;
      transition: filter .3s ease, opacity .3s ease;
    }

    &:hover {
      > img {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}

.questions {
  &__info-btn {
    @include btn-hover;
  }

  &__title {
    &:after {
      transition: transform .5s ease;
    }

    &:hover {
      &:after {
        transform: translate(1.2rem, -50%);
      }
    }

    &.active {
      &:after {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
}

.suggest {
  &__btn {
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 5rem;
      height: 100%;
      opacity: .8;
      transform: skew(-20deg) translateX(-100%);
      background: linear-gradient(90deg, transparent 0, white 50%, transparent 100%);
      transition: transform .55s ease;
    }

    &:hover {
      &:before {
        transform: skew(-20deg) translateX(45rem);
      }
    }
  }
}

.footer {
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 4.5rem;

    > * {
      height: 200%;
      width: 200%;
      transform: scale(2.6);
    }
  }

  &__center-btn {
    @include btn-hover;
  }

  &__center-list {
    li {
      transition: transform .5s ease;

      &:hover {
        transform: translateX(0.6rem);
      }
    }
  }

  &__bottom-info a {
    &:hover {
      &:after {
        background-color: transparent;
      }
    }
  }

  &__top-it {
    transition: color .2s ease;

    > svg {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 0.8rem;

      path {
        fill: #91959B;
        transition: fill .2s ease;
      }
    }

    &:hover {
      color: rgb(88, 152, 66);

      > svg {
        path {
          fill: rgb(88, 152, 66);
        }
      }
    }
  }

  &__top-mess-it {
    filter: grayscale(1);
    opacity: .5;
    transition: transform ease .4s, filter ease .4s, opacity ease .4s;

    &:hover {
      opacity: 1;
      filter: grayscale(0);
      transform: scale(1.25);
    }
  }

  &__center-add-contacts a {
    &:hover {
      color: rgb(68, 122, 50);
    }
  }

  &__bottom-o a {
    transition: transform ease .3s;

    &:hover {
      transform: translateY(-0.4rem);
    }
  }
}

@keyframes img-dot {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.description {
  &__info-img {
    position: relative;
  }

  &__img-dot {
    position: absolute;
    left: 3.5rem;
    top: 7.3rem;
    display: flex;
    justify-content: space-between;
    width: 5.4rem;
    height: 1.6rem;

    > img {
      width: auto;
      height: 100%;
      object-fit: contain;

      &:nth-child(1) {
        animation: 1s img-dot .15s linear infinite;
      }
      &:nth-child(2) {
        animation: 1s img-dot .3s linear infinite;
      }
      &:nth-child(3) {
        animation: 1s img-dot .45s linear infinite;
      }
    }
  }

  &__info-btn {
    &:after {
      transition: box-shadow .4s ease;
    }

    &:hover {
      &:after {
        box-shadow: 0 1.5rem 1.5rem -0.4rem rgba(34, 60, 80, 0.3);
      }
    }
  }
}

.catalog {
  &__items {
    gap: 5.2rem;
  }

  &__item-box {
    flex: 22%;
    max-width: 36.6rem;
    perspective: 100rem;

    &:hover {
      z-index: 5;

      .catalog__item-wrap {
        z-index: 5;
        transform: rotateX(var(--mouseX)) rotateY(var(--mouseY));
        transition: box-shadow .25s ease;
        box-shadow: 0 2rem 4rem rgba(23, 38, 47, .3), inset 0 0 0 1px #d7e5f4;
      }
    }
  }

  &__item-wrap {
    width: 100%;
    margin: 0;
    transition: transform 3s, box-shadow .25s ease;
  }

  &__btns-btn {
    @include btn-hover;
  }

  &__btns-link {
    &:hover {
      &:after {
        visibility: hidden;
      }
    }
  }

  &__btns-filter {
    transition: box-shadow .3s ease, transform .3s ease;

    &:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 1.5rem 1.5rem -1rem rgba(34, 60, 80, 0.3);
    }

    &:active {
      transform: translateY(0);
      box-shadow: none;
    }
  }
}

.hang {
  &__swiper-i {
    margin: -8rem;
    padding: 8rem;
  }

  &__item {
    perspective: 100rem;
    padding: 0;
    background: none;

    &:hover {
      z-index: 5;

      .hang__item-content {
        z-index: 5;
        transform: rotateX(var(--mouseX)) rotateY(var(--mouseY));
        transition: box-shadow .25s ease;
        box-shadow: 0 2rem 4rem rgba(23, 38, 47, .3), inset 0 0 0 1px #d7e5f4;
      }
    }
  }

  &__item-content {
    height: 100%;
    padding: 3.5rem 3.5rem 3.4rem 3.7rem;
    border-radius: inherit;
    background: #E2E9E9;
    transition: transform .3s, box-shadow .25s ease;
  }
}

.category {
  &__cc {
    .category__slider {
      gap: 5.4rem;
    }
    .category__slide {
      width: 50.4rem;
      margin: 0;
    }
  }

  &__slide {
    &:hover {
      .category__slide-bg path {
        fill: #7AC361;
      }
    }
  }

  &__slide-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
    width: 100%;
    height: 100%;

    path {
      fill: #E2E9E9;
      transition: fill .4s ease;
    }
  }

  &__hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    > svg {
      path {
        fill: #F2F6F6;
      }

      &:first-child {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -4;
        width: 14rem;
        height: 10rem;
      }

      &:last-child {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -4;
        width: 14rem;
        height: 10rem;
        transform: scale(-1);
      }
    }
  }
}