.pride {
   margin-bottom: 21.5rem;
   overflow: hidden;
   &__title {
      text-align: center;
      margin-bottom: 2.7rem;
   }
   &__text {
      text-align: center;
      width: 40%;
      margin: 0 auto;
      margin-bottom: 4.3rem;
      line-height: 150%;
      color: #9BA8A8;
   }
   &__items {
      display: flex;
      justify-content: center;
      &:first-child {
         //margin-left: -13rem;
         //margin-right: -13rem;
      }
      &:not(:last-child) {
         margin-bottom: 1.8rem;
      }
   }
   &__item {
      width: 22rem;
      height: 22rem;
      margin-right: 6rem;
      background: #E2E9E9;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:last-child) {
         //margin-right: 6rem;
      }
      & img {
         width: 13rem;
         height: 9rem;
         object-fit: cover;
         mix-blend-mode: multiply;
      }
   }
}